 {{#each mealsByCategory}}
  <div class="section-3-wrap container">
        <h1 class="py-5 text-center">{{this.name}}</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {{#each this.data}}
            <div class="col">
                <div class="card h-100">
                    <img src="{{this.imageUrl}}"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{this.title}}</h5>
                        <p class="card-text">{{this.includes}}</p>
                        <a href="#" class="btn btn-primary">{{this.price}}</a>
                    </div>
                </div>
            </div> 
            {{/each  }}
        </div>
    </div>
    {{/each}}